<h2>Tilføj album</h2>
<form id="add-album" style="display: flex; flex-direction: column; gap: 12px">
	<input class="key" type="text" name="key" value="" placeholder="Discogs Consumer Key" autocomplete="off">
	<input class="secret" type="text" name="secret" value="" placeholder="Discogs Consumer Secret" autocomplete="off">
	<input class="search" type="text" name="search" value="" placeholder="Søg efter album" autocomplete="off">
	<input type="submit" name="submit" value="Søg">
	<div class="container">
	</div>
</form>
