<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
</head>

<body id="index">
    <header>
        <img src="/static/logo.png" alt="Logo" height="80" width="80">
        <h1>Musikafspiller</h1>
        <input type="text" name="search" id="search" placeholder="Søg efter sange, albummer, eller playlister">
    </header>

    <main id="main">
        {{ songs|raw }}
        <div style="min-height: 24px"></div>
        {{ albums|raw }}
    </main>
</body>

</html>