<section id="songs">
    <style>
        #songs>menu {
            display: flex;
            flex-direction: column;
            gap: 7px;

            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        #songs>menu>li {
            display: flex;
            flex-direction: row;
            height: 70px;
        }

        #songs>menu>li>*:not(.cover) {
            background-color: var(--color-bg-input);
        }

        #songs>menu>li>*:first-child {
            border-radius: var(--border-radius) 0px 0px var(--border-radius);
        }

        #songs>menu>li>*:last-child {
            border-radius: 0px var(--border-radius) var(--border-radius) 0px;
        }

        #songs>menu>li>p {
            margin: 0px;
            align-content: center;
            height: 100%;
        }

        #songs>menu>li>*:nth-child(2) {
            padding-left: 18px;
            flex-grow: 1;
            width: 100%;
        }

        #songs>menu>li>*:nth-child(3) {
            padding-right: 18px;
        }

        #songs .play {
            z-index: 1000;
            min-width: 70px;
            height: 100%;
            align-content: center;
            text-align: center;
        }

        #songs .duration {
            font-family: 'Incosolata', sans-serif;
            font-weight: 450;
            align-content: center;
        }

        #songs>menu>h2 {
            margin: 0px;
            font-weight: 500;
        }

        #songs .more {
            color: var(--color-text-more);
            font-weight: 600;
            inset: 20px;
        }

        #songs .more {
            color: var(--color-text-more);
            font-size: 14px;
            font-weight: bold;
            margin-right: auto;
        }

        #songs .artists {
            display: flex;
            list-style-type: none;
            padding: 0px;
        }

        #songs .title {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            color: #1f1f1f;
            font-weight: 600;
        }

        #songs .artist {
            font-size: 13px;
            font-weight: 475;
            color: #1f1f1f;
            font-family: 'Inter', sans-serif;
        }

        #songs .credit {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            justify-content: center;
            gap: 3px;
        }

        #songs .hover {
            outline: 2px solid transparent;
        }

        #songs .hover:hover {
            border-radius: 2px;
            transition: all ease 0.12s;
            background-color: var(--color-bg-input);
            outline: 4px solid var(--color-bg-input);
        }

        #songs .play {
            outline: 3px solid transparent;
        }

        #songs .play:hover {
            outline: 3px solid var(--color-bg-accent);
            transition: outline ease 0.3s;
        }

        #songs .play:hover>img {
            transform: scale(1.25);
            transition: transform ease 0.1s;
        }
    </style>

    <menu>
        <h2>{{ desc }}</h2>
        {% for song in songs %}
        <li>
            <img class="cover" src="/static/64x64.png" alt="Cover art">
            <ul class="credit">
                <li class="title">{{ song.getTitle() }}</li>
                <li>
                    <ul class="artists">
                        {% for artist in song.getArtists() %}
                        <li class="artist hover">{{ artist.getName() }}</li>
                        {% if artist != song.getArtists().last() %}
                        <li class="artist">,&nbsp;</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <span class="duration">{{ song.getDuration() }}</span>
            <div class="play hover">
                <img src="/static/play.svg" width="21.34" height="26" alt="Play button">
            </div>
            <div style="min-width: 10px;"></div>
        </li>
        {% endfor %}
        <span class="more hover">Vis flere</span>
    </menu>
</section>