<section id="songs">
    <style>
        #songs>menu {
            display: flex;
            flex-direction: column;
            gap: 10px;

            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        #songs>menu>li {
            display: flex;
            flex-direction: row;
            height: 64px;
        }

        #songs>menu>li>*:not(.cover) {
            background-color: var(--color-bg-input);
        }

        #songs>menu>li>*:first-child {
            border-radius: var(--border-radius) 0px 0px var(--border-radius);
        }

        #songs>menu>li>*:last-child {
            border-radius: 0px var(--border-radius) var(--border-radius) 0px;
        }

        #songs>menu>li>p {
            margin: 0px;
            align-content: center;
            height: 100%;
        }

        #songs>menu>li>*:nth-child(2) {
            padding-left: 18px;
            flex-grow: 1;
            width: 100%;
        }

        #songs>menu>li>*:nth-child(3) {
            padding-right: 18px;
        }

        #songs .play {
            min-width: 64px;
            height: 64px;
            align-content: center;
            text-align: center;
            padding-right: 10px;
        }

        #songs .duration {
            font-family: 'Incosolata', sans-serif;
            font-weight: 450;
            align-content: center;
        }

        #songs>menu>h2 {
            margin: 0px;
            font-weight: 500;
        }

        #songs .more {
            color: var(--color-text-more);
            font-weight: 600;
            inset: 20px;
        }

        #songs .more {
            color: var(--color-text-more);
            font-size: 14px;
            font-weight: bold;
            text-decoration: underline solid 2px transparent;
            transition: all ease 0.15s;
            margin-right: auto;
        }

        #songs .more:hover {
            text-decoration-color: var(--color-text-more);
        }

        #songs .artists {
            display: flex;
            list-style-type: none;
            padding: 0px;
        }

        #songs .title {
            font-family: 'Inter', sans-serif;
            font-size: 17px;
            color: #1f1f1f;
            font-weight: 600;
        }

        #songs .artist {
            font-size: 13px;
            font-weight: 475;
            color: #1f1f1f;
            font-family: 'Inter', sans-serif;
        }

        #songs .artist:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }

        #songs .credit {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            justify-content: center;
            gap: 3px;
        }
    </style>

    <menu>
        <h2>{{ desc }}</h2>
        {% for song in songs %}
        <li>
            <img class="cover" src="/static/64x64.png" alt="Cover art">
            <ul class="credit">
                <li class="title">{{ song.getTitle() }}</li>
                <li>
                    <ul class="artists">
                        {% for artist in song.getArtists() %}
                        <li class="artist">{{ artist.getName() }}</li>
                        {% if artist != song.getArtists().last() %}
                        <li class="artist">,&nbsp;</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <span class="duration">{{ song.getDuration() }}</span>
            <div class="play">
                <img src="/static/play.svg" width="21.34" height="26" alt="Play button">
            </div>
        </li>
        {% endfor %}
        <span class="more">Vis flere</span>
    </menu>
</section>